/* Select the element <input> under the class form-item */
div.form-item input {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 10px;
    margin-top: 20px;
    padding-bottom: 10px;
    width: 1000px;
}

textarea {
    border: none;
    width: 1000px;
    border: 1px solid #ddd;
    border-radius: 8px;
}