.book-cover {
    width: 160px;
}

.excerpt {
    margin-bottom: 16px;
}

.excerpts {
    font-size: 20px;
    margin-top: 15px;
}

.new_comment {
    margin-top: 15px;
    align-content: center;
}



/* ========== Learning ========== */
/* What does tilde "~" CSS selector mean */
/* Reference: https://stackoverflow.com/questions/10782054/what-does-the-tilde-squiggle-twiddle-css-selector-mean */
/* The ~ selector is used to select all the following siblings */
