.book-name {
    font-size: 25px;
    font-weight: 500;
    margin: 15px 0;
}

.edit-tag {
    margin: auto auto
}
.delete-tag {
    padding-left: 10px;
    margin: auto auto
}
.delete-tag button{
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: #007bff;;
    text-decoration: none;
    cursor: pointer;
}
.delete-tag button:hover{
    text-decoration: underline;
}

.book-cover {
    width: 160px;
}

.extracts, .comments {
    font-size: 20px;
    margin-top: 15px;
}