.edit-tag {
    margin: auto auto
}
.delete-tag {
    padding-left: 10px;
    margin: auto auto
}
.delete-tag button{
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: #007bff;;
    text-decoration: none;
    cursor: pointer;
}
.delete-tag button:hover{
    text-decoration: underline;
}

.record-cover {
    width: 160px;
}

.star-widget {
    display: flex;
}

.star-widget input{
    display: none;
}

.star-widget label {
    margin-top: 4px;
    color: #444;
    transition: all 0.2s ease;
    cursor: pointer;
}

/* Reverse the order of the stars since CSS does NOT have previous sibling selector */
.star-widget label#rate-1 {
    order: -1;
}

.star-widget label#rate-2 {
    order: -2;
}

.star-widget label#rate-3 {
    order: -3;
}

.star-widget label#rate-4 {
    order: -4;
}

.star-widget label#rate-5 {
    order: -5;
}

.star-widget label#rate-6 {
    order: -6;
}

.star-widget label#rate-7 {
    order: -7;
}

.star-widget label#rate-8 {
    order: -8;
}

.star-widget label#rate-9 {
    order: -9;
}

.star-widget label#rate-10 {
    order: -10;
}

.star-widget input:not(:checked) ~ label:hover,
.star-widget input:not(:checked) ~ label:hover ~ label {
    color: #fd4;
}

.star-widget input:not(:checked) ~ label:hover {
    color: #fd4;
}

.star-widget input:checked ~ label {
    color: #fd4;
}

.comments {
    font-size: 20px;
    margin-top: 15px;
}
