form{
    display: table;
    margin: 0 auto; 
}

label, input{
    display: table-cell;
    margin-bottom: 10px;
}

label{
    padding-right: 10px;
}

.form-title{
    display: table-cell;
    font-size: 20px;
    font-weight: 500;
    margin-bottom:20px;
}

.form-item{
    display: table-row;
}